$backgroundColorWhiteElements: white;
.containerLabelsPost
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
    width: 480px;
    border: 1px solid rgb(0, 0, 0);
}
#floatingLabelAsk
{
    display: none;
    position: relative;
    left: 0;
    border: 0.5px solid gray;
    border-radius: 10px;
    width: 130px;
    background-color: $backgroundColorWhiteElements;
}

#floatingLabelPost
{
    display: none;
    position: relative;
    left: 348px;
    border: 0.5px solid gray;
    border-radius: 10px;
    width: 130px;
    background-color: $backgroundColorWhiteElements;
}

@media (max-width: 480px)
{
    .containerLabelsPost
    {
        width: 100vw;
        border: 1px solid rgb(0, 0, 0);
        margin: 0;
    }
    #floatingLabelPost
    {
        left: 293px;
    }
}