$backgroundColorWhiteElements: white;
.containerLabelsPost
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
    width: 480px;
}
#divider1, #divider2
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
}

#floatingLabelAsk, #floatingLabelPost
{
    border: 0.5px solid gray;
    border-radius: 10px;
    width: 130px;
    background-color: $backgroundColorWhiteElements;
    display: none;
}



@media (max-width: 768px)
{
    .containerLabelsPost
    {
        width: 480px;
        margin: 0;
    }
}

@media  (max-width: 480px)
{
    .containerLabelsPost
    {
        width: 100vw;
        margin: 0;
    }
}



.overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Darken */
    z-index: 10;
    display: none; /* Hide at the beginning */
}

.modal
{
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    z-index: 20;
    display: none; /* Hidden by default */
    width: 400px;
    height: 480px;
    border-radius: 10px;
}

#closeWindowPost
{
    background-color: #fdfdfd; /* Color de fondo */
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

#closeWindowPost:hover
{
    transform: scale(0.9); /* Efecto al pasar el ratón */
    background-color: gray;
}


.titlePostWindow
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 700;
}

.containerAdviseSection
{
    display: flex;
    justify-content: center;
}

.adviseSection
{
    background-color: rgb(142, 239, 223);
    margin-top: 1px;
    padding: 5px;
    border-radius: 10px;
    color: rgb(2, 103, 86);
    width: 370px;
}

.containerSelectPublicViews
{
    display:flex;
    justify-content: space-between;
    // border:1px solid black;
    padding: 5px;
}

#selectPublicButton
{
    border: none;
    border-radius: 10px;
}

#selectPublicButton:hover
{
    background-color: gray;
}

.containerEditWindowPost
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#fieldEditPost
{
    width: 365.4px;
    height: 100px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

.containerButtonsAcceptCancel
{
    margin-top: 10px;
    width: 365.4px;
    display: flex;
    justify-content: flex-end;
}

.containerButtonsAcceptCancel >*
{
    height: 35px;
    border-radius: 15px;
    border: none;
}

#addQuestionButtonPost
{
    background-color: #e55b56;
    margin: 0;
    margin-right: 10px;
    color: white;
}

#cancelQuestionButtonPost:hover
{
    background-color: rgb(203, 197, 197);
}