$backgroundColorWhiteElements: white;
.containerLabelsPost
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
    width: 480px;
}
#divider1, #divider2
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
}

#floatingLabelAsk, #floatingLabelPost
{
    border: 0.5px solid gray;
    border-radius: 10px;
    width: 130px;
    background-color: $backgroundColorWhiteElements;
    display: none;
}



@media (max-width: 768px)
{
    .containerLabelsPost
    {
        width: 480px;
        margin: 0;
    }
}

@media (max-width: 480px)
{
    .containerLabelsPost
    {
        width: 100vw;
        margin: 0;
    }
}


.overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Darken */
    z-index: 10;
    display: none; /* Hide at the beginning */
}