$backgroundColorWhiteElements: white;
$bodyColorWhite:rgb(240, 234, 234);

body
{
    border: 0;
    margin: 0;
}

.containerMain
{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: $backgroundColorWhiteElements;
}

#headerContainer
{
    position: sticky;
    top: 0;
    height:50px;
    width:100vw;
    background-color: $backgroundColorWhiteElements;
    box-shadow: 5px 5px 25px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.headerContainerOfElements >*
{
    border: none;
    height: 40px;
    margin-right: 5px;
    background-color: $backgroundColorWhiteElements;
}

.containerQuestionPost >*
{
    border: none;
    height: 30px;
    margin-right: 5px;
}

.headerContainerOfElements
{
    display: flex;
    justify-content: center;
    align-items: center;
    height:46px;
    width:80vw;
    padding: 2px;
}

.containerQuestionPost
{
    border: none;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#QuarzoButton
{
    width: 150px;
    font-size: 30px;
    font-weight: 700;
    color: #B92B27;
    border-radius: 3px;
}


#selectedHomeButton
{
    width: 40px;
    height: 5px;
    background-color: #B92B27;
}

#selectedListButton, #selectedAnswerButton, #selectedSpacesButton,
#selectedNotificationsButtons
{
    width: 40px;
    height: 5px;
    background-color: #B92B27;
    display: none;
}

#HomeButton, #ListButton, #AnswerButton, #SpacesButton, #NotificationsButtons,
#ProfileButton, #LanguagesButton
{
    width: 50px;
    border-radius: 3px;
}

#HomeButton:hover, #ListButton:hover, #AnswerButton:hover,
#SpacesButton:hover, #NotificationsButtons:hover,
#ProfileButton:hover, #LanguagesButton:hover, #QuarzoButton:hover
{
    background-color: #f6f4f4;
    filter: contrast(75%);
}

#HomeButton:active, #ListButton:active, #AnswerButton:active,
#SpacesButton:active, #NotificationsButtons:active,
#ProfileButton:active, #LanguagesButton:active, #QuarzoButton:active
{
    transform: scale(0.95);
}

#searchBar
{
    border: 1px solid rgb(209, 203, 203);
    border-radius: 10px;
}

#searchBar:hover
{
    border: 1px solid rgb(220, 38, 38);
}

#addQuestionButton
{

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #B92B27;
    margin: 0;
    color: $backgroundColorWhiteElements;
}

#createQuestionButton
{

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #B92B27;
    border-left: 1px solid black;
    margin: 0;
    color: $backgroundColorWhiteElements;
}

#createQuestionButton:hover, #addQuestionButton:hover
{
    background-color: #850905;
}

.headerContainerMobile
{
    display: none;
}



//Desktop 1024px
@media (min-width: 769px) and (max-width: 1024px)
{
    #addQuestionButton {
        font-size: 13px;
    }

    #createQuestionButton {
        font-size: 13px;
    }
}

@media (min-width: 1024px)
{
    #addQuestionButton {
        font-size: 13px;
    }

    #createQuestionButton {
        font-size: 13px;
    }
}


@media  (max-width:425px)
{
    //Hide header bar of desktop version
    #headerContainer
    {
        display: none;
    }

    .headerContainerMobile
    {
        display: block;
    }
    .headerContainerOfElementsMobile
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .containerButtonsMobile
    {
        display: flex;
        flex-direction: row;
    }

    .containerButtonsMobile >*
    {
        width: 70.83px;
        height: 50px;
        border-top: 0;
        border-right: 1px solid gray;
        border-left: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    #searchButton, #addQuestionButtonMobile
    {
        width: 106.25px;
        height: 50px;
        border: none;
        background-color: #B92B27;
        color: white;
    }
    #searchButton >*, #addQuestionButtonMobile >*
    {
        margin-right: 5px;
    }

    #QuarzoButtonMobile
    {
        width: 212.5px;
        border: none;
        background-color: #B92B27;
        color: white;
        font-size: 30px;
        font-weight: 700;
    }
}

@media (min-width: 425px) and (max-width: 768px)
{
    //Hide header bar of desktop version
    #headerContainer
    {
        display: none;
    }

    .headerContainerMobile
    {
        display: block;
    }
    .headerContainerOfElementsMobile
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .containerButtonsMobile
    {
        display: flex;
        flex-direction: row;
    }

    .containerButtonsMobile >*
    {
        width: 109.714px;
        height: 50px;
        border-top: 0;
        border-right: 1px solid gray;
        border-left: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    #searchButton, #addQuestionButtonMobile
    {
        width: 192px;
        height: 50px;
        border: none;
        background-color: #B92B27;
        color: white;
    }
    #searchButton >*, #addQuestionButtonMobile >*
    {
        margin-right: 5px;
    }

    #QuarzoButtonMobile
    {
        width: 384px;
        border: none;
        background-color: #B92B27;
        color: white;
        font-size: 30px;
        font-weight: 700;
    }
}

